<p>sentiment-analysis works!</p>
<div class="entity-main">
    <h1>Sentiment Analysis</h1>

    <p>Enter a sentence</p>

    <form [formGroup]="sentimentForm" (submit)="sentimentAnalysis()" class="my-3">
        <div class="form-group group-center">
            <textarea class="form-control" [formControlName]="'sentimentText'">
        </textarea>
        </div>

        <div class="form-group group-center input-style flex-column">
            <p>Choose the "lang" parameter (optional):</p>
            <div class="flex-row">
                <select class="form-select" [formControlName]="'lang'">
                    <option selected>None</option>
                    <option value="en">English</option>
                    <option value="it">Italian</option>
                    <option value="auto">Automatic</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn"> Submit </button>
    </form>
    <div *ngIf="this.dataAvailable">
        <h2>
            Sentiment of the text: score = {{ this.data.sentiment.score }}, the level
            of cofidence is {{ this.data.sentiment.type }}
        </h2>
        <div class="color-interpolation" [style.background-color]="this.sentimentColor"></div>
    </div>
</div>